@model WebGoMarkets.Models.Product

@{
    ViewData["Title"] = "Edit product: " + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Product list</a>
            <span class="breadcrumb-item active">Edit product</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@Model.ProductId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*Lấy lại giá trị cũ khi không thêm mới*@
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="Thumb" />
    <input type="hidden" asp-for="DateCreated" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15"></div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save changes</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Product Name</label>
                        <input type="text" class="form-control" id="productName" asp-for="ProductName">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="ShortDescription">Short Description</label>
                        <input type="text" class="form-control" id="ShortDescription" asp-for="ShortDesc">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Price</label>
                            <input type="number" class="form-control" id="productPrice" asp-for="Price">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="Discount">Discount</label>
                            <input type="number" class="form-control" id="Discount" asp-for="Discount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Category</label>
                            <select class="custom-select" asp-for="CatId" style="min-width: 180px;" asp-items="ViewBag.Category">
                                <option value="" disabled selected>Choose category</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="UnitsInStock">UnitsInStock</label>
                            <input type="number" class="form-control" id="UnitsInStock" asp-for="UnitsInStock">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Thumb">Thumb</label>
                        <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb">
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="form-group d-flex align-items-center">
                            <div class="switch m-r-10">
                                @if (Model.Active)
                                {
                                    <input type="checkbox" asp-for="Active" checked="">
                                }
                                else
                                {
                                    <input type="checkbox" asp-for="Active">
                                }
                                <label for="Active"></label>
                            </div>
                            <label>Active</label>
                        </div>
                        <div class="form-group d-flex align-items-center">
                            <div class="switch m-r-10">
                                @if (Model.HomeFlag)
                                {
                                    <input type="checkbox" asp-for="HomeFlag">
                                }
                                else
                                {
                                    <input type="checkbox" asp-for="HomeFlag">
                                }
                                <label for="HomeFlag"></label>
                            </div>
                            <label>Home flag</label>
                        </div>
                        <div class="form-group d-flex align-items-center">
                            <div class="switch m-r-10">
                                @if (Model.BestSellers)
                                {
                                    <input type="checkbox" asp-for="BestSellers">
                                }
                                else
                                {
                                    <input type="checkbox" asp-for="BestSellers">
                                }
                                <label for="BestSellers"></label>
                            </div>
                            <label>Best sellers</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Title">Title</label>
                        <input type="text" id="Title" class="form-control" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="MetaDesc">MetaDesc</label>
                        <input type="text" id="MetaDesc" class="form-control" asp-for="MetaDesc">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="MetaKey">MetaKey</label>
                        <input type="text" id="MetaKey" class="form-control" asp-for="MetaKey">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Tags">Tags</label>
                        <input type="text" id="Tags" class="form-control" asp-for="Tags">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <textarea class="summernote" asp-for="Description"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
