@model WebGoMarkets.Models.TinDang

@{
    ViewData["Title"] = "Edit blog: " + Model.Title;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminTinDangs" asp-action="Index">Blog list</a>
            <span class="breadcrumb-item active">Edit blog</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminTinDangs" asp-action="Edit" asp-route-id="@Model.PostId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PostId" />
    <input type="hidden" asp-for="Thumb" />
    <input type="hidden" asp-for="CreatedDate" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15"></div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save changes</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Content</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Title">Title</label>
                        <input type="text" class="form-control" id="Title" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Thumb">Thumb</label>
                        <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb">
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <div class="switch m-r-10">
                            @if (Model.Published)
                            {
                                <input type="checkbox" asp-for="Published" checked="">
                            }
                            else
                            {
                                <input type="checkbox" asp-for="Published">
                            }
                            <label for="Published"></label>
                        </div>
                        <label>Public</label>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <div class="switch m-r-10">
                            @if (Model.IsHot)
                            {
                                <input type="checkbox" asp-for="IsHot" checked="">
                            }
                            else
                            {
                                <input type="checkbox" asp-for="IsHot">
                            }
                            <label for="IsHot"></label>
                        </div>
                        <label>Is Hot</label>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <div class="switch m-r-10">
                            @if (Model.IsNewfeed)
                            {
                                <input type="checkbox" asp-for="IsNewfeed" checked="">
                            }
                            else
                            {
                                <input type="checkbox" asp-for="IsNewfeed">
                            }
                            <label for="IsNewfeed"></label>
                        </div>
                        <label>Is New</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="MetaDesc">MetaDesc</label>
                        <input type="text" id="MetaDesc" class="form-control" asp-for="MetaDesc">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="MetaKey">MetaKey</label>
                        <input type="text" id="MetaKey" class="form-control" asp-for="MetaKey">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <textarea class="summernote" asp-for="Contents"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
